@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

*{
    scroll-behavior: smooth;
}


.shadow-lg {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Light, soft shadow */
  }
  
  .shadow-2xl {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); /* Deeper shadow with greater offset */
  }
  

